.breadcrumb{

display:flex;

gap:8px;

margin-bottom:30px;

font-size:15px;

color:#666;

flex-wrap:wrap;

}

.breadcrumb a{

color:#214c9d;

text-decoration:none;

font-weight:600;

}

.breadcrumb a:hover{

text-decoration:underline;

}