.lecture-toolbar{

display:flex;

gap:12px;

margin:30px 0;

flex-wrap:wrap;

}

.lecture-toolbar button{

padding:12px 18px;

border:none;

border-radius:12px;

background:#204b89;

color:white;

cursor:pointer;

}