.lecture-sidebar{

width:270px;

background:white;

padding:30px;

border-right:1px solid #ECECEC;

display:flex;

flex-direction:column;

gap:14px;

position:sticky;

top:0;

height:100vh;

overflow:auto;

}

.lecture-sidebar h2{

margin-bottom:10px;

color:#214c9d;

}

.lecture-link{

text-decoration:none;

color:#444;

padding:10px;

border-radius:8px;

transition:.2s;

}

.lecture-link:hover{

background:#EDF5FF;

color:#214c9d;

}

hr{

margin:20px 0;

border:none;

border-top:1px solid #EEE;

}